@"
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env*/
*.log

# Artifacts / dataset / pesi
*.npy
*.index
*.pt
*.pth
runs/
weights/
outputs/
outputs_scenes/
outputs_scenes_*/
data/scenes_real


# IDE
.idea/
*.iml
.vscode/
"@ | Out-File -FilePath .gitignore -Encoding utf8 -NoNewline